@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Inter', sans-serif;
}


@layer components {
  /* كل مرة تستخدم <section> في الكود،
     الخلفية هتكون gradient ثابت */

}
/* ===== متحرّك الخلفية ===== */
@keyframes gradientMove {
  0%, 100% { background-position: 0% 50%; }
  50%      { background-position: 100% 50%; }
}

.animate-gradient {
  background-size: 400% 400%;
  animation: gradientMove 18s ease infinite;
}









